# Classify Ghostty-related files as INI files and make them detectable by
# Linguist.
.config/ghostty/** linguist-language=ini linguist-detectable

# Allow for configuration files to be detected by Linguist.
*.toml linguist-detectable
